@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 999px;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 999px;
  background: #fff;
  cursor: pointer;
}